body{
    background-image: url(img/wallpapersden.com_abstract-black-geometry-shape_1920x1080.jpg);
    background-size: cover;
    opacity: 90%;
    color: white;
    font-family: "Macondo", serif;
    font-weight: 400;
    font-style: normal;
   

    

}

p{
    text-indent: 15px;
}

main{
    display: flex;
    flex-wrap: wrap;

}
header{
    width: 100%;
    text-align: center;
    margin-bottom: 40px ;
}

section{
    width: 50%;
}

#alkotok{
  
    
}
li{
    list-style: square;
}
