body{
    background-image: url(img/premium_photo-1685656440548-d8cad874d5d8.jfif);
    background-size: cover;
    opacity: 90%;
    color: white;

    

}

main{
    display: flex;
    flex-wrap: wrap;

}
header{
    width: 100%;
    text-align: center;
    margin-bottom: 40px ;
}

section{
    width: 50%;
}